*{
  outline: none;
}
.text-center {
  text-align: center;
}


input.simple-input{
  padding: 5px 8px;
  width: 40px;
  border-radius: 3px;
  border: 1px solid rgba(0,0,0,0.3);
  text-align: right;
  &:disabled{
    border: 1px solid rgba(0,0,0,0.1);
    color: black;
  }
  &:not([disabled]){
    background: rgba(0, 0, 0, 0.1);
  }
  &.large{
    width: 150px;
    text-align: left;
  }
}


html,
body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  height: 100%;
  margin: 0;
  padding: 0;
}

md-sidenav {

  md-select {
    margin: 16px;
    .md-select-value {
      padding-left: 8px;
    }
  }
  md-content {
    height: 100%;
    padding-bottom: 180px !important;
  }
}
.ui-view-principal{
  overflow: hidden;
}

.clickeable {
  transition: 0.3s box-shadow ease, 0.3s transform ease;
  &:hover {
    box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);
    transform: translatey(-2px);
  }
  &:active {
    transition: 0.1s box-shadow ease, 0.1s transform ease;
    transform: translatey(2px);
  }
}

.pieza {
  padding: 16px 32px 16px 16px !important;
  margin-bottom: 16px;
  margin-right: 16px;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
  background: white;
  &.selected {
    background: #0097a7;
    color: white;
  }
  & > span {
    display: block;
  }
  .sup.title {
    font-size: 14px;
  }
  .title {
    font-size: 18px;
    line-height: 30px;
    font-weight: bold;
  }
  .sub-title {
    font-size: 12px;
  }
}

.task-detail {
  background: white;
  position: relative;
  h1 {
    margin: 16px;
  }
  .type-task {
    width: 200px;
    margin-left: 16px;
  }
  .time,
  .edit-block{
    margin-bottom: 8px;
    margin-left: 16px;
    height: 35px;
    .title {
      font-weight: bold;
    }
    .desc {
      font-size: 16px;
    }
  }
  .instructions {
    md-list-item{
      &:hover {
        background: rgba(0, 0, 0, 0.1);
      }
      .md-list-item-inner{
        padding: 12px;
      }
      span {
        &.title {
          font-weight: bold;
        }
      }
    }
  }
  .add-comment{
    padding: 16px;
    ng-wig{
      font-size: 18px;
      .nw-editor{
        height: 100px;
      }
      .nw-editor{
        background: #fffde7;
        .nw-editor__res{
          padding: 8px;
        }
      }
    }
  }
}

md-nav-bar.header-tabs {
  .md-button._md-nav-button.md-unselected {
    color: white;
  }

}

//task detail
.task-toolbar {
  padding: 0 16px;
  md-icon {
    margin: auto 16px;
  }
}

.piezas{
  margin: 0px 16px;
}
.files {
  margin: 0px 16px;
  .file-wf {
    background: white;
    padding: 8px 40px 8px 8px !important;
    border-radius: 5px;
    margin-right: 16px;
    cursor: pointer;
    position: relative;
    .filename {
      vertical-align: bottom;
    }
  }
}




//equipo

.motor-container {
  margin-top: 32px;
  margin-bottom: 32px;
  background: white;

  .list{
    md-list{
      height: 400px;
      overflow: scroll;
      md-list-item{
        &.selected{
          background: rgba(0, 0, 0, 0.1)
        }
      }
      .md-list-item-text{
        padding-left: 30px;
      }
      background: white;
      .num{
        position: absolute;
        left: 10px;
        top: 20px;
        background: rgba(0, 0, 0, 0.5);
        border: 3px solid white;
        box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
        border-radius: 50%;
        width: 24px;
        height: 24px;
        line-height: 24px;
        font-weight: bold;
        text-align: center;
        color: white;
      }
    }
  }
  .description{
    position: relative;
    padding: 16px;
    background: rgba(0, 0, 0, 0.1);
    .title{
      width: 300px;
    }
    input, textarea{
      &[disabled]{
        background: transparent;
        border: 1px solid transparent;
      }
    }
  }
}
.motor {
  .image {
    position: relative;
    img {
      width: 100%;
      max-height: 400px;
    }
    .box-number {
      position: absolute;
      border: 3px solid white;
      cursor: pointer;
      font-weight: bold;
      background: rgba(0, 0, 0, 0.5);
      color: white;
      width: 24px;
      height: 24px;
      font-size: 13px;
      text-align: center;
      line-height: 24px;
      border-radius: 50%;
      &.selected{
        background: rgba(0, 0, 0, 0.7);
        transform: scale(1.2);
      }
    }
  }
}

.tarea , .equipo{
  min-width: 220px;
  padding: 16px !important;
  margin-bottom: 16px;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
  background: white;
  position: relative;
  margin-right: 16px;
  & > span {
    display: block;
  }
  &.selected {
    background: #0097a7;
    color: white;
  }
  .sup.title {
    font-size: 14px;
  }
  .title {
    font-size: 18px;
    line-height: 30px;
    font-weight: bold;
  }
  .sub-title {
    font-size: 12px;
  }
  &.ready {
    padding-left: 40px !important;
    background: #cfd8dc;
    color: #37474f;
    &.selected {
      background: #37474f;
      color: white;
    }
  }
  &:not(.ready) {
    &.p-alta {
      border-left: 10px solid red;
    }
    &.p-media {
      border-left: 10px solid orange;
    }
    &.p-baja {
      border-left: 10px solid yellow;
    }
  }
  .done-content {
    position: absolute;
    left: 8px;
    top: 8px;
    display: inline-block;
    md-icon {
      font-size: 24px;
    }
    .done md-icon {
      color: green;
    }
    .wrong md-icon {
      color: red;
    }
  }
  .correctiva{
    position: absolute;
    right: 8px;
    top: 8px;
    color: #c62828;
    md-icon{
      color: #c62828;
      vertical-align: bottom;
    }
  }
}


  .pieza{
    position: relative;
  }
.pieza-num{
  //right: 8px;
  //top: 8px;
  //position: absolute;
  display: inline-block;
  background: #d32f2f;
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 22px;
  color: white;
  font-weight: bold;
  font-size: 13px;
  border-radius: 50%;
}


.search-content{
  position: relative;
  padding: 0px 24px;
  margin: 16px 0px;
  .material-icons{
    position: absolute;
    left: 32px;
    top: 4px;
    color: rgb(141,141,141)
  }
  input.search{
    padding-left: 40px;
    width: 100%;
    border-radius: 30px;
    border: 1px solid grey;
    box-sizing: border-box;
    height: 28px;
    outline: none;
  }
}



.red-button-menu{
  color: red;
  md-icon{
    color:red;
  }
}



input.h4-editable {
  font-size: 1em;
  font-weight: bold;
  font-weight: bold;
}

input.h1-editable {
  font-size: 2em;
  font-weight: bold;
}

input{
  &.h1-editable,
  &.h4-editable{
    border: 1px solid grey;
    &:not([disabled]){
      background: rgba(0, 0, 0, 0.1);
    }
  }
}
textarea{
    border: 1px solid grey;
    min-height: 70px;
    max-height: 400px;
    resize: vertical;
    &:not([disabled]){
      background: rgba(0, 0, 0, 0.1);
    }
}

.task-detail{
  padding-top: 16px;
  .h1-editable{
    margin-left: 16px;
    margin-bottom: 16px;
    &[disabled]{
      border: 1px solid transparent;
    }
  }
}

md-icon{
  &.material-icons{
    margin: 0px;
  }
}

md-select.md-select-dis{
  box-shadow: 0 1px 5px 0 rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.12);
  &[disabled]{
    box-shadow: none;
    .md-select-value span .md-text{
      color:black;
    }
  }
}

.edit-block md-select{
  display: inline-block;
  margin-top: 0px;
  margin-bottom: 0px;
}

.add-element{
  background: rgba(51,51,51,0.65);
  color: white;
  text-decoration: none;
  padding: 4px 8px;
  margin-left: 8px;
  border-radius: 20px;
  font-size: 14px;
}

.pieza, .file-wf{
  .close{
    background: rgba(0,0,0,0.44);
    border-radius: 50%;
    position: absolute;
    right: 8px;
    top: 8px;
    width: 20px;
    height: 20px;
    &:after{
      content:'';
      border: 1px solid white;
      position: absolute;
      width: 9px;
      transform: rotate(45deg);
      left: 4px;
      top: 9px;
    }
    &:before{
      content:'';
      border: 1px solid white;
      position: absolute;
      width: 9px;
      transform: rotate(-45deg);
      left: 4px;
      top: 9px;
    }
  }
}





.instructions {
  h4{
    margin-left: 16px;
  }
  md-list-item {
    .input-container {
      width: 100%;
      input, textarea{
        &[disabled]{
          border:1px solid transparent !important;
          background: transparent;
        }
      }
      input.title {
        font-weight: bold;
        width: 100%;
        display: block;
        margin-bottom: 8px;
        border: 1px solid rgba(0, 0, 0, 0.3);
        padding-left: 8px;
        box-sizing: border-box;
      }
      textarea.description{
        width: 100%;
        height: 100px;
        display: block;
        resize: vertical;
        border: 1px solid rgba(0, 0, 0, 0.3);
        padding: 8px;
        box-sizing: border-box;
      }
    }
  }
}

.add-instruction{
  border: 2px dashed #cfd8dc;
  padding: 16px 32px;
  text-align: center;
  margin: 0px 16px;
  cursor: pointer;
  &:hover{
    background: #cfd8dc;
    border: 2px dashed #b0bec5;
  }
}





input.h1-editable{
  border: 1px solid grey;
  &:not([disabled]){
    background: rgba(0, 0, 0, 0.1);
  }
}



.edit-float{
  position: absolute;
  right: 0px;
  top: 0px;
}

/*
.add-sidebar-button{
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 62px;
  line-height: 30px;
  color: white;
  font-weight: bold;
  background: #0d47a1;
  cursor: pointer;
  padding: 16px;
  text-align: center;
  box-sizing: border-box;
  &.secondary{
    bottom: 62px;
    background: #f44336;
  }
}
*/

a.link{
  color: #37474f;
  text-decoration: underline;
}
//---------------------------------------------
.map{
  height: 100%;
  position: relative;
  #map-container{
    width: 100%;
    height: 100%;
    background:grey;
    padding: 20px;
    position: relative;
    resize: both;
  }

  .box {
    cursor: pointer;
    background: white;
    border: 1px solid black;
    position: absolute;
    &.editing.selected {
      background: #9fa8da !important;
      z-index: 2;
      .resizer{
        border-style: solid;
        background: rgba(0, 0, 0, 0.3);
      }
    }
    &.editing{
      cursor: move;
      .resizer{
        display: block;
      }
    }
    .resizer {
      display: none;
      width: 8px;
      height: 8px;
      bottom: -2px;
      right: -2px;
      position: absolute;
      cursor: se-resize;
      border-left: 2px dotted red;
      border-top: 2px dotted red;
      border-right: 2px solid black;
      border-bottom: 2px solid black;
    }
    .box-name {
      position: absolute;
      background: rgba(0, 0, 0, 0.6);
      padding: 0 6px;
      border-radius: 5px;
      font-size: 14px;
      color: white;
      user-select: none;
      cursor: default;
      max-width: 100px;
      width: max-content;
      &.label-inside {
        left: 0;
        top: 0;
        border-radius: 0 0 5px 0;
      }
      &.label-top {
        left: calc(5% - 4px);
        top: 0;
        border-radius: 5px 5px 0 0;
        transform: translate(0%, -100%);
      }
      &.label-bottom {
        left: calc(5% - 4px);
        bottom: 0;
        border-radius: 0 0 5px 5px;
        transform: translate(0%, 100%);
      }
      &.label-right {
        right: 0;
        top: calc(15% - 4px);
        border-radius: 0 5px 5px 0;
        transform: translate(100%, 0);
      }
      &.label-left {
        left: 0;
        top: calc(15% - 4px);
        border-radius: 5px 0 0 5px;
        transform: translate(-100%, 0);
      }
    }
  }

  .global-controls {
    position: absolute;
    left: 0;
    top: 0;
    padding: 6px;
    background: rgba(0, 0, 0, 0.6);
    color: white;
  }
  .box-options{
    position: absolute;
    right: 0;
    top: 30px;
    padding: 6px;
    background: rgba(0, 0, 0, 0.6);
    color: white;
  }
  .log {
    position: absolute;
    top: 0;
    right: 0;
    padding: 3px 10px;
    background: blue;
    color: white;
    display: block;
  }
}

.box{
  .box-alert{
    background: red;
    position: absolute;
    right: -8px;
    top: -8px;
    width: 17px;
    height: 17px;
    border-radius: 50%;
    text-align: center;
    color: white;
    font-size: 14px;
    font-weight: bold;
    z-index: 3;
    transition: 0.3s all cubic-bezier(0.25, 0.46, 0.45, 0.94);
  }
  &:hover{
    .box-alert{
      transform: scale(1.3);
    }
    .box-detail{
      display: block;
    }
  }
  .box-detail{
    display: none;
    background: white;
    position: absolute;
    right: -10px;
    border-radius: 5px;
    top: 0px;
    transform: translate(100%, 0px);
    padding: 8px;
    z-index: 5;
    box-shadow: 0 5px 6px -3px rgba(0,0,0,.2), 0 9px 12px 1px rgba(0,0,0,.14), 0 3px 16px 2px rgba(0,0,0,.12);
    border: 1px solid grey;
    width: 100px;
    & > span{
      font-size: 14px;
    }
    h4{
      margin: 0px 0px 10px 0px;
    }
  }
}
//---------------------------------------------
.task-sidebar {
  md-tab-content {
    md-content {
      height: unset;
    }
  }
  .md-button.add{
    width: 100%;
    margin: 0px 0px 16px 0px;
    color: white;
    font-weight: bold;
    &.add-tarea{
      background: #3949ab; //indigo 600
    }
    &.add-falla{
      background: #ef5350; //red 400
    }
  }
  .tarea{
    margin-right: 0px !important;
  }
}


.task-description-content{
  padding: 18px;
  .task-description{
    width: calc(100% - 32px);
    box-sizing: border-box;
    margin: 16px;
    min-height: 200px;
    &[disabled]{
      background: transparent;
      border: 1px solid transparent;
    }
  }
}

.list-comments{
  padding: 16px;
  md-list{
    md-list-item .md-list-item-text{
      padding-bottom: 24px;
      h3{
        font-size: 14px;
        color: #455a64; //blue grey 600
        font-weight: bold;
        margin-bottom: 8px;
        span.date{
          font-style: italic;
          margin-left: 10px;
          font-size: 12px,
        }
      }
      p{
        color: #263238; // blue grey 900
      }
    }
  }
}

.simple-gallery {
  list-style: none;
  padding: 0;
  li {
    padding: 5px;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 2px 1px -1px rgba(0,0,0,.12);
    display: inline-block;
    cursor: pointer;
    img {
      height: 60px;
    }
  }
}

.lb-image {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  .backdrop{
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    position: absolute;
    left: 0px;
    top: 0px;
    cursor: pointer;
    z-index: 101;
  }
  img {
    height: 80%;
    margin: 20px auto;
    display: block;
    box-shadow: 0 11px 15px -7px rgba(0,0,0,.2), 0 24px 38px 3px rgba(0,0,0,.14), 0 9px 46px 8px rgba(0,0,0,.12);
    z-index: 102;
    position: relative;
  }
  p {
    position: relative;
    text-align: center;
    color: white;
    background: rgba(0, 0, 0, 0.6);
    padding: 5px;
    max-width: 70%;
    margin: 0 auto;
    border-radius: 5px;
    border: 1px solid black;
    box-shadow: 0 11px 15px -7px rgba(0,0,0,.2), 0 24px 38px 3px rgba(0,0,0,.14), 0 9px 46px 8px rgba(0,0,0,.12);
    z-index: 102;
  }
  .close {
    cursor: pointer;
    background: rgba(0,0,0,0.45);
    border-radius: 50%;
    position: absolute;
    right: 8px;
    top: 8px;
    width: 60px;
    height: 60px;
    &:after {
      content: '';
      border: 3px solid white;
      position: absolute;
      width: 27px;
      transform: rotate(45deg);
      left: 12px;
      top: 27px;
    }
    &:before {
      content: '';
      border: 3px solid white;
      position: absolute;
      width: 27px;
      transform: rotate(-45deg);
      left: 12px;
      top: 27px;
    }
  }

}
