* {
  outline: none; }

.text-center {
  text-align: center; }

input.simple-input {
  padding: 5px 8px;
  width: 40px;
  border-radius: 3px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  text-align: right; }
  input.simple-input:disabled {
    border: 1px solid rgba(0, 0, 0, 0.1);
    color: black; }
  input.simple-input:not([disabled]) {
    background: rgba(0, 0, 0, 0.1); }
  input.simple-input.large {
    width: 150px;
    text-align: left; }

html,
body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  height: 100%;
  margin: 0;
  padding: 0; }

md-sidenav md-select {
  margin: 16px; }
  md-sidenav md-select .md-select-value {
    padding-left: 8px; }

md-sidenav md-content {
  height: 100%;
  padding-bottom: 180px !important; }

.ui-view-principal {
  overflow: hidden; }

.clickeable {
  transition: 0.3s box-shadow ease, 0.3s transform ease; }
  .clickeable:hover {
    box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12);
    transform: translatey(-2px); }
  .clickeable:active {
    transition: 0.1s box-shadow ease, 0.1s transform ease;
    transform: translatey(2px); }

.pieza {
  padding: 16px 32px 16px 16px !important;
  margin-bottom: 16px;
  margin-right: 16px;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
  background: white; }
  .pieza.selected {
    background: #0097a7;
    color: white; }
  .pieza > span {
    display: block; }
  .pieza .sup.title {
    font-size: 14px; }
  .pieza .title {
    font-size: 18px;
    line-height: 30px;
    font-weight: bold; }
  .pieza .sub-title {
    font-size: 12px; }

.task-detail {
  background: white;
  position: relative; }
  .task-detail h1 {
    margin: 16px; }
  .task-detail .type-task {
    width: 200px;
    margin-left: 16px; }
  .task-detail .time,
  .task-detail .edit-block {
    margin-bottom: 8px;
    margin-left: 16px;
    height: 35px; }
    .task-detail .time .title,
    .task-detail .edit-block .title {
      font-weight: bold; }
    .task-detail .time .desc,
    .task-detail .edit-block .desc {
      font-size: 16px; }
  .task-detail .instructions md-list-item:hover {
    background: rgba(0, 0, 0, 0.1); }
  .task-detail .instructions md-list-item .md-list-item-inner {
    padding: 12px; }
  .task-detail .instructions md-list-item span.title {
    font-weight: bold; }
  .task-detail .add-comment {
    padding: 16px; }
    .task-detail .add-comment ng-wig {
      font-size: 18px; }
      .task-detail .add-comment ng-wig .nw-editor {
        height: 100px; }
      .task-detail .add-comment ng-wig .nw-editor {
        background: #fffde7; }
        .task-detail .add-comment ng-wig .nw-editor .nw-editor__res {
          padding: 8px; }

md-nav-bar.header-tabs .md-button._md-nav-button.md-unselected {
  color: white; }

.task-toolbar {
  padding: 0 16px; }
  .task-toolbar md-icon {
    margin: auto 16px; }

.piezas {
  margin: 0px 16px; }

.files {
  margin: 0px 16px; }
  .files .file-wf {
    background: white;
    padding: 8px 40px 8px 8px !important;
    border-radius: 5px;
    margin-right: 16px;
    cursor: pointer;
    position: relative; }
    .files .file-wf .filename {
      vertical-align: bottom; }

.motor-container {
  margin-top: 32px;
  margin-bottom: 32px;
  background: white; }
  .motor-container .list md-list {
    height: 400px;
    overflow: scroll;
    background: white; }
    .motor-container .list md-list md-list-item.selected {
      background: rgba(0, 0, 0, 0.1); }
    .motor-container .list md-list .md-list-item-text {
      padding-left: 30px; }
    .motor-container .list md-list .num {
      position: absolute;
      left: 10px;
      top: 20px;
      background: rgba(0, 0, 0, 0.5);
      border: 3px solid white;
      box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
      border-radius: 50%;
      width: 24px;
      height: 24px;
      line-height: 24px;
      font-weight: bold;
      text-align: center;
      color: white; }
  .motor-container .description {
    position: relative;
    padding: 16px;
    background: rgba(0, 0, 0, 0.1); }
    .motor-container .description .title {
      width: 300px; }
    .motor-container .description input[disabled], .motor-container .description textarea[disabled] {
      background: transparent;
      border: 1px solid transparent; }

.motor .image {
  position: relative; }
  .motor .image img {
    width: 100%;
    max-height: 400px; }
  .motor .image .box-number {
    position: absolute;
    border: 3px solid white;
    cursor: pointer;
    font-weight: bold;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    width: 24px;
    height: 24px;
    font-size: 13px;
    text-align: center;
    line-height: 24px;
    border-radius: 50%; }
    .motor .image .box-number.selected {
      background: rgba(0, 0, 0, 0.7);
      transform: scale(1.2); }

.tarea, .equipo {
  min-width: 220px;
  padding: 16px !important;
  margin-bottom: 16px;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
  background: white;
  position: relative;
  margin-right: 16px; }
  .tarea > span, .equipo > span {
    display: block; }
  .tarea.selected, .equipo.selected {
    background: #0097a7;
    color: white; }
  .tarea .sup.title, .equipo .sup.title {
    font-size: 14px; }
  .tarea .title, .equipo .title {
    font-size: 18px;
    line-height: 30px;
    font-weight: bold; }
  .tarea .sub-title, .equipo .sub-title {
    font-size: 12px; }
  .tarea.ready, .equipo.ready {
    padding-left: 40px !important;
    background: #cfd8dc;
    color: #37474f; }
    .tarea.ready.selected, .equipo.ready.selected {
      background: #37474f;
      color: white; }
  .tarea:not(.ready).p-alta, .equipo:not(.ready).p-alta {
    border-left: 10px solid red; }
  .tarea:not(.ready).p-media, .equipo:not(.ready).p-media {
    border-left: 10px solid orange; }
  .tarea:not(.ready).p-baja, .equipo:not(.ready).p-baja {
    border-left: 10px solid yellow; }
  .tarea .done-content, .equipo .done-content {
    position: absolute;
    left: 8px;
    top: 8px;
    display: inline-block; }
    .tarea .done-content md-icon, .equipo .done-content md-icon {
      font-size: 24px; }
    .tarea .done-content .done md-icon, .equipo .done-content .done md-icon {
      color: green; }
    .tarea .done-content .wrong md-icon, .equipo .done-content .wrong md-icon {
      color: red; }
  .tarea .correctiva, .equipo .correctiva {
    position: absolute;
    right: 8px;
    top: 8px;
    color: #c62828; }
    .tarea .correctiva md-icon, .equipo .correctiva md-icon {
      color: #c62828;
      vertical-align: bottom; }

.pieza {
  position: relative; }

.pieza-num {
  display: inline-block;
  background: #d32f2f;
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 22px;
  color: white;
  font-weight: bold;
  font-size: 13px;
  border-radius: 50%; }

.search-content {
  position: relative;
  padding: 0px 24px;
  margin: 16px 0px; }
  .search-content .material-icons {
    position: absolute;
    left: 32px;
    top: 4px;
    color: #8d8d8d; }
  .search-content input.search {
    padding-left: 40px;
    width: 100%;
    border-radius: 30px;
    border: 1px solid grey;
    box-sizing: border-box;
    height: 28px;
    outline: none; }

.red-button-menu {
  color: red; }
  .red-button-menu md-icon {
    color: red; }

input.h4-editable {
  font-size: 1em;
  font-weight: bold;
  font-weight: bold; }

input.h1-editable {
  font-size: 2em;
  font-weight: bold; }

input.h1-editable, input.h4-editable {
  border: 1px solid grey; }
  input.h1-editable:not([disabled]), input.h4-editable:not([disabled]) {
    background: rgba(0, 0, 0, 0.1); }

textarea {
  border: 1px solid grey;
  min-height: 70px;
  max-height: 400px;
  resize: vertical; }
  textarea:not([disabled]) {
    background: rgba(0, 0, 0, 0.1); }

.task-detail {
  padding-top: 16px; }
  .task-detail .h1-editable {
    margin-left: 16px;
    margin-bottom: 16px; }
    .task-detail .h1-editable[disabled] {
      border: 1px solid transparent; }

md-icon.material-icons {
  margin: 0px; }

md-select.md-select-dis {
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12); }
  md-select.md-select-dis[disabled] {
    box-shadow: none; }
    md-select.md-select-dis[disabled] .md-select-value span .md-text {
      color: black; }

.edit-block md-select {
  display: inline-block;
  margin-top: 0px;
  margin-bottom: 0px; }

.add-element {
  background: rgba(51, 51, 51, 0.65);
  color: white;
  text-decoration: none;
  padding: 4px 8px;
  margin-left: 8px;
  border-radius: 20px;
  font-size: 14px; }

.pieza .close, .file-wf .close {
  background: rgba(0, 0, 0, 0.44);
  border-radius: 50%;
  position: absolute;
  right: 8px;
  top: 8px;
  width: 20px;
  height: 20px; }
  .pieza .close:after, .file-wf .close:after {
    content: '';
    border: 1px solid white;
    position: absolute;
    width: 9px;
    transform: rotate(45deg);
    left: 4px;
    top: 9px; }
  .pieza .close:before, .file-wf .close:before {
    content: '';
    border: 1px solid white;
    position: absolute;
    width: 9px;
    transform: rotate(-45deg);
    left: 4px;
    top: 9px; }

.instructions h4 {
  margin-left: 16px; }

.instructions md-list-item .input-container {
  width: 100%; }
  .instructions md-list-item .input-container input[disabled], .instructions md-list-item .input-container textarea[disabled] {
    border: 1px solid transparent !important;
    background: transparent; }
  .instructions md-list-item .input-container input.title {
    font-weight: bold;
    width: 100%;
    display: block;
    margin-bottom: 8px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    padding-left: 8px;
    box-sizing: border-box; }
  .instructions md-list-item .input-container textarea.description {
    width: 100%;
    height: 100px;
    display: block;
    resize: vertical;
    border: 1px solid rgba(0, 0, 0, 0.3);
    padding: 8px;
    box-sizing: border-box; }

.add-instruction {
  border: 2px dashed #cfd8dc;
  padding: 16px 32px;
  text-align: center;
  margin: 0px 16px;
  cursor: pointer; }
  .add-instruction:hover {
    background: #cfd8dc;
    border: 2px dashed #b0bec5; }

input.h1-editable {
  border: 1px solid grey; }
  input.h1-editable:not([disabled]) {
    background: rgba(0, 0, 0, 0.1); }

.edit-float {
  position: absolute;
  right: 0px;
  top: 0px; }

/*
.add-sidebar-button{
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 62px;
  line-height: 30px;
  color: white;
  font-weight: bold;
  background: #0d47a1;
  cursor: pointer;
  padding: 16px;
  text-align: center;
  box-sizing: border-box;
  &.secondary{
    bottom: 62px;
    background: #f44336;
  }
}
*/
a.link {
  color: #37474f;
  text-decoration: underline; }

.map {
  height: 100%;
  position: relative; }
  .map #map-container {
    width: 100%;
    height: 100%;
    background: grey;
    padding: 20px;
    position: relative;
    resize: both; }
  .map .box {
    cursor: pointer;
    background: white;
    border: 1px solid black;
    position: absolute; }
    .map .box.editing.selected {
      background: #9fa8da !important;
      z-index: 2; }
      .map .box.editing.selected .resizer {
        border-style: solid;
        background: rgba(0, 0, 0, 0.3); }
    .map .box.editing {
      cursor: move; }
      .map .box.editing .resizer {
        display: block; }
    .map .box .resizer {
      display: none;
      width: 8px;
      height: 8px;
      bottom: -2px;
      right: -2px;
      position: absolute;
      cursor: se-resize;
      border-left: 2px dotted red;
      border-top: 2px dotted red;
      border-right: 2px solid black;
      border-bottom: 2px solid black; }
    .map .box .box-name {
      position: absolute;
      background: rgba(0, 0, 0, 0.6);
      padding: 0 6px;
      border-radius: 5px;
      font-size: 14px;
      color: white;
      user-select: none;
      cursor: default;
      max-width: 100px;
      width: max-content; }
      .map .box .box-name.label-inside {
        left: 0;
        top: 0;
        border-radius: 0 0 5px 0; }
      .map .box .box-name.label-top {
        left: calc(5% - 4px);
        top: 0;
        border-radius: 5px 5px 0 0;
        transform: translate(0%, -100%); }
      .map .box .box-name.label-bottom {
        left: calc(5% - 4px);
        bottom: 0;
        border-radius: 0 0 5px 5px;
        transform: translate(0%, 100%); }
      .map .box .box-name.label-right {
        right: 0;
        top: calc(15% - 4px);
        border-radius: 0 5px 5px 0;
        transform: translate(100%, 0); }
      .map .box .box-name.label-left {
        left: 0;
        top: calc(15% - 4px);
        border-radius: 5px 0 0 5px;
        transform: translate(-100%, 0); }
  .map .global-controls {
    position: absolute;
    left: 0;
    top: 0;
    padding: 6px;
    background: rgba(0, 0, 0, 0.6);
    color: white; }
  .map .box-options {
    position: absolute;
    right: 0;
    top: 30px;
    padding: 6px;
    background: rgba(0, 0, 0, 0.6);
    color: white; }
  .map .log {
    position: absolute;
    top: 0;
    right: 0;
    padding: 3px 10px;
    background: blue;
    color: white;
    display: block; }

.box .box-alert {
  background: red;
  position: absolute;
  right: -8px;
  top: -8px;
  width: 17px;
  height: 17px;
  border-radius: 50%;
  text-align: center;
  color: white;
  font-size: 14px;
  font-weight: bold;
  z-index: 3;
  transition: 0.3s all cubic-bezier(0.25, 0.46, 0.45, 0.94); }

.box:hover .box-alert {
  transform: scale(1.3); }

.box:hover .box-detail {
  display: block; }

.box .box-detail {
  display: none;
  background: white;
  position: absolute;
  right: -10px;
  border-radius: 5px;
  top: 0px;
  transform: translate(100%, 0px);
  padding: 8px;
  z-index: 5;
  box-shadow: 0 5px 6px -3px rgba(0, 0, 0, 0.2), 0 9px 12px 1px rgba(0, 0, 0, 0.14), 0 3px 16px 2px rgba(0, 0, 0, 0.12);
  border: 1px solid grey;
  width: 100px; }
  .box .box-detail > span {
    font-size: 14px; }
  .box .box-detail h4 {
    margin: 0px 0px 10px 0px; }

.task-sidebar md-tab-content md-content {
  height: unset; }

.task-sidebar .md-button.add {
  width: 100%;
  margin: 0px 0px 16px 0px;
  color: white;
  font-weight: bold; }
  .task-sidebar .md-button.add.add-tarea {
    background: #3949ab; }
  .task-sidebar .md-button.add.add-falla {
    background: #ef5350; }

.task-sidebar .tarea {
  margin-right: 0px !important; }

.task-description-content {
  padding: 18px; }
  .task-description-content .task-description {
    width: calc(100% - 32px);
    box-sizing: border-box;
    margin: 16px;
    min-height: 200px; }
    .task-description-content .task-description[disabled] {
      background: transparent;
      border: 1px solid transparent; }

.list-comments {
  padding: 16px; }
  .list-comments md-list md-list-item .md-list-item-text {
    padding-bottom: 24px; }
    .list-comments md-list md-list-item .md-list-item-text h3 {
      font-size: 14px;
      color: #455a64;
      font-weight: bold;
      margin-bottom: 8px; }
      .list-comments md-list md-list-item .md-list-item-text h3 span.date {
        font-style: italic;
        margin-left: 10px;
        font-size: 12px; }
    .list-comments md-list md-list-item .md-list-item-text p {
      color: #263238; }

.simple-gallery {
  list-style: none;
  padding: 0; }
  .simple-gallery li {
    padding: 5px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12);
    display: inline-block;
    cursor: pointer; }
    .simple-gallery li img {
      height: 60px; }

.lb-image {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 100; }
  .lb-image .backdrop {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    position: absolute;
    left: 0px;
    top: 0px;
    cursor: pointer;
    z-index: 101; }
  .lb-image img {
    height: 80%;
    margin: 20px auto;
    display: block;
    box-shadow: 0 11px 15px -7px rgba(0, 0, 0, 0.2), 0 24px 38px 3px rgba(0, 0, 0, 0.14), 0 9px 46px 8px rgba(0, 0, 0, 0.12);
    z-index: 102;
    position: relative; }
  .lb-image p {
    position: relative;
    text-align: center;
    color: white;
    background: rgba(0, 0, 0, 0.6);
    padding: 5px;
    max-width: 70%;
    margin: 0 auto;
    border-radius: 5px;
    border: 1px solid black;
    box-shadow: 0 11px 15px -7px rgba(0, 0, 0, 0.2), 0 24px 38px 3px rgba(0, 0, 0, 0.14), 0 9px 46px 8px rgba(0, 0, 0, 0.12);
    z-index: 102; }
  .lb-image .close {
    cursor: pointer;
    background: rgba(0, 0, 0, 0.45);
    border-radius: 50%;
    position: absolute;
    right: 8px;
    top: 8px;
    width: 60px;
    height: 60px; }
    .lb-image .close:after {
      content: '';
      border: 3px solid white;
      position: absolute;
      width: 27px;
      transform: rotate(45deg);
      left: 12px;
      top: 27px; }
    .lb-image .close:before {
      content: '';
      border: 3px solid white;
      position: absolute;
      width: 27px;
      transform: rotate(-45deg);
      left: 12px;
      top: 27px; }
