<div class="lb-image" ng-if="a.imageSelected">
  <div class="backdrop" ng-click="a.lbClose()"></div>
  <img ng-src="{{a.imageSelected.url}}" alt="">
  <p>{{a.imageSelected.caption}}</p>
  <a href="" ng-click="a.lbClose()" class="close"></a>
</div>


  <section layout="row" flex="">
      <md-sidenav
        class="md-sidenav-left task-sidebar"
        md-component-id="left"
        md-is-locked-open="true"
        layout="column"
        md-whiteframe="4">


        <div ng-controller="sidenavController as s" flex="100" layout="column">

          <md-select ng-model="s.periodoSelected" placeholder="Periodo" class="md-no-underline" md-whiteframe="2">
            <md-option ng-value="periodo" ng-repeat="periodo in s.periodos">
              {{periodo.name}}
            </md-option>
          </md-select>
          <div class="search-content">
						<i class="material-icons">
							search
						</i>
						<input type="text" class="search">
					</div>

        <md-content layout-padding  class="hide">

            <md-whiteframe
                class="md-whiteframe-2dp tarea"
                flex
                layout="column"
                layout-align="start start"
                      ng-repeat="tarea in s.tareas"
                ng-click="s.tareaSelected = tarea"
                ng-class="{selected:  tarea == s.tareaSelected ,
                      'p-alta': tarea.prioridad == 1,
                      'p-media': tarea.prioridad == 2,
                      'p-baja': tarea.prioridad == 3,
                  }">

            <span class="sup-title">{{ tarea.equipo}}</span>
            <span class="title">{{ tarea.tarea}}</span>
            <span class="sub-title">{{ tarea.encargado}}</span>
          </md-whiteframe>


          <span>Tareas Realizadas</span>


          <md-whiteframe
                class="md-whiteframe-2dp tarea ready"
                flex
                layout="column"
                layout-align="start start"
                ng-repeat=" tarea in s.tareasDone"
                ng-class="{
                      'p-alta': tarea.prioridad == 1,
                      'p-media': tarea.prioridad == 2,
                      'p-baja': tarea.prioridad == 3,
                  }">


                  <div ng-switch=" tarea.hecho" class="done-content">
                    <div class="done" ng-switch-when="true">
                      <md-icon class="material-icons">
                        check
                      </md-icon>
                    </div>
                    <div class="wrong" ng-switch-when="false">
                      <md-icon class="material-icons">
                        close
                      </md-icon>
                    </div>
                  </div>


            <span class="sup-title">{{ tarea.equipo}}</span>
            <span class="title">{{ tarea.tarea}}</span>
            <span class="sub-title">{{ tarea.encargado}}</span>
          </md-whiteframe>

        </md-content>


    <md-tabs class="" md-center-tabs flex="">

      <md-tab label="Fallas">
        <md-content class="md-padding">
          <md-button class="md-raised add add-falla">Agregar Falla</md-button>
          <md-whiteframe
                class="md-whiteframe-2dp tarea falla"
                flex
                layout="column"
                layout-align="start start"
                      ng-repeat="falla in s.fallas"
                ng-click="s.fallaSelected = falla "
                ng-class="{selected: falla == s.fallaSelected ,
                  }">

            <span class="sup-title">{{falla.equipo}}</span>
            <span class="title">{{falla.tarea}}</span>
          </md-whiteframe>
        </md-content>
      </md-tab>

      <md-tab label="Tareas">
        <md-content class="md-padding">
          <md-button class="md-raised add add-tarea">Agregar Tarea</md-button>
            <md-whiteframe
                class="md-whiteframe-2dp tarea"
                flex
                layout="column"
                layout-align="start start"
                      ng-repeat="tarea in s.tareas"
                ng-click="s.tareaSelected = tarea"
                ng-class="{selected:  tarea == s.tareaSelected ,
                      'p-alta': tarea.prioridad == 1,
                      'p-media': tarea.prioridad == 2,
                      'p-baja': tarea.prioridad == 3,
                  }">

            <span class="sup-title">{{ tarea.equipo}}</span>
            <span class="title">{{ tarea.tarea}}</span>
            <span class="sub-title">{{ tarea.horas}} Horas</span>
          </md-whiteframe>
          <md-subheader class="md-no-sticky">Tareas listas</md-subheader>
          <md-whiteframe
                class="md-whiteframe-2dp tarea ready"
                flex
                layout="column"
                layout-align="start start"
                      ng-repeat="tarea in s.tareasDone"
                ng-click="s.tareaSelected = tarea"
                ng-class="{selected:  tarea == s.tareaSelected ,
                      'p-alta': tarea.prioridad == 1,
                      'p-media': tarea.prioridad == 2,
                      'p-baja': tarea.prioridad == 3,
                  }">

            <span class="sup-title">{{ tarea.equipo}}</span>
            <span class="title">{{ tarea.tarea}}</span>
            <span class="sub-title">{{ tarea.horas}} Horas</span>
          </md-whiteframe>
        </md-content>
      </md-tab>
    </md-tabs>

  </div>



    </md-sidenav>








      <div flex="" layout="column" >





        <md-toolbar class="md-hue-3 task-toolbar" md-scroll-shrink>
          <div layout="row" layout-align="start center">
            <a class="link" href="" ui-sref="equipo"><h4 flex="nogrow">Equipo 1</h4></a>
            <md-icon class="material-icons grey-icon" >
              arrow_forward_ios
            </md-icon>
            <h4 flex="nogrow">Nombre de la Tarea</h4>
          <div flex=""></div>



          <md-button ng-click="a.edit(a.tarea)" class="md-icon-button"  ng-show="!a.tarea.edit">
            <md-icon class="material-icons">
              edit
            </md-icon>
          </md-button>


          <md-button ng-click="a.save(a.tarea)" class="md-icon-button" ng-show="a.tarea.edit">
            <md-icon class="material-icons">
              save
            </md-icon>
          </md-button>

          <md-button ng-click="a.cancel(a.tarea)" class="" ng-show="a.tarea.edit">
            Cancelar
          </md-button>


          <md-button ng-click="a.delete(a.tarea)" class="md-icon-button">
            <md-icon class="material-icons">
                delete_forever
            </md-icon>
          </md-button>


          <md-menu ng-hide="true">
            <md-button aria-label="Options" class="md-icon-button" ng-click="a.openMenu($mdMenu, $event)">
              <md-icon class="material-icons">
                more_vert
              </md-icon>
            </md-button>
            <md-menu-content width="4">

              <md-menu-item>
                <md-button ng-click="a.edit(a.tarea)">
                  <md-icon class="material-icons">
                    edit
                  </md-icon>
                  Editar
                </md-button>
              </md-menu-item>

              <md-menu-divider></md-menu-divider>
              <md-menu-item>
                <md-button ng-click="null" class="red-button-menu">
                  <md-icon class="material-icons">
                    delete_forever
                  </md-icon>
                  eliminar
                </md-button>
              </md-menu-item>

            </md-menu-content>
          </md-menu>

          </div>



        </md-toolbar>




<md-content flex="">

  <div class="md-padding">





    <md-whiteframe class="md-whiteframe-1dp task-detail" layout="column">

      <div layout="row">
        <div flex="50">

          <input type="text" class="h1-editable" ng-model="a.tarea.nombre" ng-disabled="!a.tarea.edit">


          <div class="time hide">
            <span class="title">Tiempo estimado:</span>
            <span class="desc">
              <input type="text" ng-disabled="!a.tarea.edit" name="horas" class="simple-input" ng-model="a.tarea.horas">
              Horas
            </span>
          </div>

          <div class="edit-block">
            <span class="title">Encargado:</span>
            <span class="desc">Cristian Torres</span>
          </div>

          <div class="edit-block hide">
            <span class="title">Periodicidad:</span>
            <input type="text" ng-disabled="!a.tarea.edit" name="repeticion" class="simple-input" ng-model="a.tarea.repeticion">
            <span class="desc">días</span>
          </div>

          <div class="edit-block hide">
            <span class="title">Tipo:</span>
            <md-select  class="white-select type-task md-no-underline md-select-dis"
            ng-model="a.tipoTarea"
            placeholder="tipo tarea"
            ng-disabled="!a.tarea.edit">
            <md-option value="1">
              Correctiva
            </md-option>
            <md-option value="2">
              Preventiva
            </md-option>
          </md-select>
        </div>

        <div class="task-description-content">

          <h4>Descripción</h4>
          <textarea
          oninput='this.style.height = "";this.style.height = this.scrollHeight + "px"'
          name="name" ng-model="a.tarea.description" class="task-description" ng-disabled="!a.tarea.edit"></textarea>

        </div>
      </div>




        <div flex="50">
          <h4 flex="100">Imagenes <a href="" class="add-element">Agregar</a> </h4>
          <ul class="simple-gallery">
            <li ng-repeat="image in a.images">
                <img ng-click="a.lbImage(image)" ng-src="{{image.url}}" class="img-thumbnail">
            </li>
          </ul>

      </div>
    </div>



    <section class="list-comments">
      <h4>Comentarios</h4>
      <md-list class="">
        <md-list-item class="md-2-line" ng-repeat="comment in a.comments">
          <div class="md-list-item-text">
            <h3>{{comment.user}} <span class="date">01 de Mayo, 2019</span> </h3>
            <p>{{comment.comment}}</p>
          </div>
        </md-list-item>
      </md-list>
    </section>



    <div class="add-comment">
      <h4>Agregar Comentario:</h4>
      <ng-wig ng-model="a.text1"></ng-wig>
      <md-button class="md-primary md-raised">Agregar Comentario</md-button>
    </div>



    <div class="instructions hide">
      <h4>instrucciones:</h4>
      <md-list>
        <md-list-item ng-repeat="ins in a.tarea.instructions" md-ink-ripple="ins.edit">
          <md-checkbox ng-model="ins.ready" aria-label="Checkbox {{ins.name}}" ng-disabled="ins.edit" ></md-checkbox>
          <div class="input-container">
            <input class="title" ng-model="ins.name" type="text" ng-disabled="!ins.edit">
            <textarea class="description" ng-model="ins.description" name="name" ng-disabled="!ins.edit"></textarea>
          </div>

          <md-button ng-click="a.editInstruction(ins)" class="md-icon-button md-secondary"  ng-show="!ins.edit">
            <md-icon class="material-icons">
              edit
            </md-icon>
          </md-button>


          <md-button ng-click="a.saveInstruction(ins)" class="md-icon-button md-secondary" ng-show="ins.edit">
            <md-icon class="material-icons">
              save
            </md-icon>
          </md-button>

          <md-button ng-click="a.cancelInstruction(ins)" class=" md-secondary" ng-show="ins.edit">
            Cancelar
          </md-button>


          <md-button ng-click="a.deleteInstruction(ins, $event)" class="md-icon-button md-secondary">
            <md-icon class="material-icons">
              delete_forever
            </md-icon>
          </md-button>

        </md-list-item>
      </md-list>

      <div class="add-instruction" ng-click="a.addInstruction()">
        Agregar Nueva instrucción
      </div>
    </div>


    <section>

      <section class="piezas" layout="row" layout-wrap>
        <h4 flex="100">Piezas y repuestos <a href="" class="add-element">Agregar</a>  </h4>
        <md-whiteframe
        class="md-whiteframe-2dp pieza clickeable"
        flex="nogrow"
        layout="column"
        layout-align="start start"
        ng-repeat="pieza in a.tarea.pieces">

        <span class="sup-title">
          {{pieza .equipo}}
          <div class="pieza-num">
            5
            <md-tooltip md-direction="right">fallas</md-tooltip>
          </div>
        </span>

        <span class="title">{{pieza .nombre}}</span>
        <div class="close" ng-click="a.deletePiece()"></div>
      </md-whiteframe>

    </section>

        <section class="files" layout="row" layout-wrap>
            <h4 flex="100">Archivos <a href="" class="add-element">Agregar</a></h4>
            <md-whiteframe class="md-whiteframe-3dp file-wf clickeable" >
              <md-icon class="material-icons">
                insert_drive_file
              </md-icon>
              <span class="filename">
                file.pdf
              </span>
            <div class="close" ng-click="a.deleteFile()"></div>
            </md-whiteframe>

            <md-whiteframe class="md-whiteframe-3dp file-wf clickeable" >
              <md-icon class="material-icons">
                insert_drive_file
              </md-icon>
              <span class="filename">
                file.xls
              </span>
            <div class="close" ng-click="a.deleteFile()"></div>
            </md-whiteframe>
          </section>

          <br><br>




    </section>

      </md-whiteframe>



















  <section class="tasks" layout="row" layout-wrap>
    <h2 flex="100">Fallas <a href="" class="add-element">Ver todos</a></h2>
    <md-whiteframe
    class="md-whiteframe-2dp tarea ready clickeable"
    flex="nogrow"
    layout="column"
    layout-align="start start"
    ui-sref="task"
    ng-repeat=" tarea in a.tarea.tareas">

                <div ng-switch="tarea.hecho" class="done-content">
                  <div class="done" ng-switch-when="true">
                    <md-icon class="material-icons">
                      check
                    </md-icon>
                  </div>
                  <div class="wrong" ng-switch-when="false">
                    <md-icon class="material-icons">
                      close
                    </md-icon>
                  </div>
                </div>




    <span class="sup-title">{{tarea.equipo}}</span>
    <span class="title">{{tarea.tarea}}</span>
    <span class="sub-title">{{tarea.encargado}}</span>
  </md-whiteframe>
</section>




</div>

</md-content>

    </div>
</section>
