<section layout="row" flex="">
		<!--
	<md-whiteframe class="md-whiteframe-3dp motor-container mapa-container" layout="row" layout-wrap>


    <div class="list" flex="30">
      <md-button class="md-primary">Agregar ubicación</md-button>
      <md-list flex class="md-dense">
        <md-list-item class="md-2-line" ng-click="i.locationSelected = location" ng-repeat=" location in i.locations"
          ng-class="{selected: i.locationSelected == location}">
          <div class="md-list-item-text" layout="column">
            <div class="num">
              {{ location.num}}
            </div>
            <h3>{{ location.nombre}}</h3>
          </div>
        </md-list-item>
      </md-list>
    </div>

      <div class="motor" flex="70">
        <div class="image">
          <img src="./public/images/map.png" alt="">
          <div class="box-number with-name" ng-style="{
            top: location.position.y + 'px',
            left: location.position.x + 'px'
          }"
          ng-click="i.locationSelected = location"
          ng-class="{selected: i.locationSelected == location}"
          ng-repeat=" location in i.locations">
          <span class="num">{{location.num}} <span class="location-name"> {{location.nombre}}</span>  </span>
          </div>
        </div>
      </div>

    <div class="description input-container" flex="100">
      <div flex="100" layout="column">

            <input class="h4-editable title" ng-model="i.locationSelected .nombre" type="text" ng-disabled="!i.locationSelected .edit">
            <textarea class="" ng-model="i.locationSelected .desc" name="name" ng-disabled="!i.locationSelected .edit"></textarea>
      </div>
      <div class="edit-float">
        <md-button ng-click="i.edit(i.locationSelected )" class="md-icon-button"  ng-show="!i.locationSelected .edit">
          <md-icon class="material-icons">
            edit
          </md-icon>
        </md-button>


        <md-button ng-click="i.save(i.locationSelected )" class="md-icon-button" ng-show="i.locationSelected .edit">
          <md-icon class="material-icons">
            save
          </md-icon>
        </md-button>

        <md-button ng-click="i.cancel(i.locationSelected )" class="" ng-show="i.locationSelected .edit">
          Cancelar
        </md-button>


        <md-button ng-click="i.delete(i.locationSelected )" class="md-icon-button">
          <md-icon class="material-icons">
            delete_forever
          </md-icon>
        </md-button>

      </div>
    </div>

  </md-whiteframe>
	-->
</section>


  <div ng-controller="AppCtrl" ng-cloak="" class="map" >

    <div id="map-container">
      <div class="box" ng-repeat="box in boxes"
			ng-class="{editing: editing}"
      ng-draggable='box.dragOptions'
      ng-draggable-item="box"
			disabled="!editing">
        <span class="box-name {{box.position.className}}">{{box.name}}</span>
				<span class="box-alert">{{box.values.alert}}</span>
				<div class="box-detail">
					<h4>{{box.name}}</h4>
					<span><b>alertas:</b> {{box.values.alert}}</span>
				</div>
      </div>
    </div>



    <div class="global-controls">
			<input type="checkbox" name="vehicle" ng-model="editing" checked> editando<br>
      <br>
      <button ng-click="addElement()" ng-disabled="!editing">Agregar</button>
      <br>
      <br>
      <button ng-click="printElements()">Guardar</button>
      <br>
      <br>
      <br>
			<button ng-click="cleanAll()">Limpiar</button>
    </div>

		<div class="box-options" ng-if="boxSelected">
      <input type="text" ng-model="boxSelected.name">
      <select class="" name="position" ng-model="boxSelected.position"
      ng-options="position.name for position in positions track by position.id">
      </select>
			<button ng-click="duplicate(boxSelected)">Duplicar</button>
			<button ng-click="delete(boxSelected)">Borrar</button>
		</div>

      <span class="log">{{spanLog}}</span>

</div>
