
  <section layout="row" flex="">
  <md-sidenav
          class="md-sidenav-left"
          md-component-id="left"
          md-is-locked-open="true"
          layout="column"
          md-whiteframe="4">
          <div flex="100" layout="column">
						<md-select ng-model="p.equipoSelected" placeholder="Periodo" class="md-no-underline" md-whiteframe="2">
            <md-option ng-value="equipo" ng-repeat="equipo in p.equipos">
              {{equipo.nombre}}
            </md-option>
          </md-select>

					<div class="search-content">
						<i class="material-icons">
							search
						</i>
						<input type="text" class="search">
					</div>

            <md-content layout-padding  >



              <md-whiteframe
                  class="md-whiteframe-2dp equipo"
                  flex
                  layout="column"
                  layout-align="start start"
                  ng-repeat="pieza in p.equipoSelected.piezas"
                  ng-click="p.piezaSelected = pieza"
                  ng-class="{selected: pieza == p.piezaSelected}">

              <span class="title">{{pieza.nombre}}</span>
            </md-whiteframe>
          </md-content>
        </div>

      </md-sidenav>

      <div flex="" layout="column">









<md-toolbar class="md-hue-3 task-toolbar" md-scroll-shrink>
  <div layout="row">
    <h4 flex="nogrow">Pieza 1</h4>
    <div flex=""></div>
    <div layout="row" layout-align="start center">
      <md-button class="" ui-sref="equipo">Ver equipo</md-button>
    </div>
  </div>
</md-toolbar>

<md-content flex="">

  <div class="md-padding">

























    <md-whiteframe class="md-whiteframe-1dp task-detail" layout="column">

      <div layout="row">
        <div flex="50">

          <input type="text" class="h1-editable" ng-model="p.pieza.nombre" ng-disabled="!p.pieza.edit">

          <div class="edit-block">
            <span class="title">código:</span>
            <input type="text" ng-disabled="!p.pieza.edit" name="repeticion" class="simple-input large" ng-model="p.pieza.codigo">
          </div>

          <div class="edit-float">
            <md-button ng-click="p.edit(p.pieza)" class="md-icon-button"  ng-show="!p.pieza.edit">
              <md-icon class="material-icons">
                edit
              </md-icon>
            </md-button>


            <md-button ng-click="p.save(p.pieza)" class="md-icon-button" ng-show="p.pieza.edit">
              <md-icon class="material-icons">
                save
              </md-icon>
            </md-button>

            <md-button ng-click="p.cancel(p.pieza)" class="" ng-show="p.pieza.edit">
              Cancelar
            </md-button>


            <md-button ng-click="p.delete(p.pieza)" class="md-icon-button">
              <md-icon class="material-icons">
                delete_forever
              </md-icon>
            </md-button>

          </div>
        </div>
    </div>





    <div class="instructions">
      <md-checkbox ng-model="ins.ready" aria-label="Checkbox {{ins.name}}" ng-repeat="ins in a.instructions">
        <span class="title">
          {{ins.name}}
        </span>
        <span class="desc">
          {{ins.description}}
        </span>
      </md-checkbox>
    </div>
  </md-whiteframe>






  <md-whiteframe class="md-whiteframe-3dp motor-container" layout="row" layout-wrap>


    <div class="list" flex="50">
      <md-button class="md-primary">Agregar elemento</md-button>
      <md-list flex class="md-dense">
        <md-list-item class="md-2-line" ng-click="p.piezaImagenSelected = pieza" ng-repeat="pieza in p.piezasImagen"
          ng-class="{selected: p.piezaImagenSelected == pieza}">
          <div class="md-list-item-text" layout="column">
            <div class="num">
              {{pieza.num}}
            </div>
            <h3>{{pieza.nombre}}</h3>
            <p>{{pieza.minDesc}}</p>
          </div>
        </md-list-item>
      </md-list>
    </div>

      <div class="motor" flex="50">
        <div class="image">
          <img src="./public/images/imagen1.png" alt="">
          <div class="box-number" ng-style="{
            top: pieza.position.y + 'px',
            left: pieza.position.x + 'px'
          }"
          ng-click="p.piezaSelected = pieza"
          ng-class="{selected: p.piezaImagenSelected == pieza}"
          ng-repeat="pieza in p.piezasImagen">
          <span class="num">{{pieza.num}}</span>
          </div>
        </div>
      </div>

    <div class="description input-container" flex="100">
      <div flex="100" layout="column">

            <input class="h4-editable title" ng-model="p.piezaImagenSelected.nombre" type="text" ng-disabled="!p.piezaImagenSelected.edit">
            <textarea class="" ng-model="p.piezaImagenSelected.desc" name="name" ng-disabled="!p.piezaImagenSelected.edit"></textarea>
      </div>
      <div class="edit-float">
        <md-button ng-click="p.edit(p.piezaImagenSelected )" class="md-icon-button"  ng-show="!p.piezaImagenSelected .edit">
          <md-icon class="material-icons">
            edit
          </md-icon>
        </md-button>


        <md-button ng-click="p.save(p.piezaImagenSelected )" class="md-icon-button" ng-show="p.piezaImagenSelected .edit">
          <md-icon class="material-icons">
            save
          </md-icon>
        </md-button>

        <md-button ng-click="p.cancel(p.piezaImagenSelected )" class="" ng-show="p.piezaImagenSelected .edit">
          Cancelar
        </md-button>


        <md-button ng-click="p.delete(p.piezaImagenSelected )" class="md-icon-button">
          <md-icon class="material-icons">
            delete_forever
          </md-icon>
        </md-button>

      </div>
    </div>

  </md-whiteframe>













  <section class="tasks" layout="row" layout-wrap flex>
    <h2 flex="100">Tareas Realizadas <a href="" class="add-element">Ver todos</a></h2>
    <md-whiteframe
    class="md-whiteframe-2dp tarea ready clickeable"
    flex="nogrow"
    layout="column"
    layout-align="start start"
    ng-repeat="item in p.itemsReady">

                <div ng-switch="item.hecho" class="done-content">
                  <div class="done" ng-switch-when="true">
                    <md-icon class="material-icons">
                      check
                    </md-icon>
                  </div>
                  <div class="wrong" ng-switch-when="false">
                    <md-icon class="material-icons">
                      close
                    </md-icon>
                  </div>
                </div>

                <div class="correctiva" ng-if="::item.correctiva">
                  <span>falla</span>
                  <md-icon class="material-icons">
                    warning
                  </md-icon>
                </div>

    <span class="sup-title">{{item.equipequipoo}}</span>
    <span class="title">{{item.tarea}}</span>
    <span class="sub-title">{{item.encargado}}</span>
  </md-whiteframe>
</section>


<section class="tasks" layout="row" layout-wrap>
    <h2 flex="100">Tareas Pendientes <a href="" class="add-element">Ver todos</a></h2>
    <md-whiteframe
    class="md-whiteframe-2dp tarea clickeable"
    flex="nogrow"
    layout="column"
    layout-align="start start"
    ng-repeat="item in p.items"
    ng-class="{
      'p-alta': item.prioridad == 1,
      'p-media': item.prioridad == 2,
      'p-baja': item.prioridad == 3,
    }">

    <span class="sup-title">{{item.pieza}}</span>
    <span class="title">{{item.tarea}}</span>
    <span class="sub-title">{{item.encargado}}</span>
  </md-whiteframe>
</section>




</div>

</md-content>


    </div>
</section>
